
<h2>Cenik</h2>
<br>
<table>
                <tr>
                  <th>Vrsta storitve</th>
                  <th>CENA EUR/URO BREZ DDV</th>
                  <th>STOPNJA DDV</th>
                </tr>
                <tr>
                  <td>Redno čiščenje - gospodinjstvo</td>
                  <td>11 €</td>
                  <td>9,5 %</td>
                </tr>
                <tr>
                  <td>Redno čiščenje - manjši poslovni prostor</td>
                  <td>11 €</td>
                  <td>22 %</td>
                </tr>
                <tr>
                  <td>Generalno in občasno čiščenje</td>
                  <td>13 €</td>
                  <td>9,5 % ali 22 %</td>
                </tr>
              </table>

<br><br><br>
<b>Cena strojnega čiščenja je odvisna od vrste, velikosti in stanja površine. Za ponudbo prosim pokličite oz. pišite.&nbsp;</b>