<div class="container">
        <section id="page-zones__main" class="bk-zone column " data-uniqueid="hHBnxcqj06RgjQH" data-parentuniqueid="">            
                <div id="page-zones__main-widgets__5ccf2a7d09f69" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="1WJClTSu1tLohp7" data-parentuniqueid="hHBnxcqj06RgjQH">
                
                        <div class="bk-content-text  content  widget__content  wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                      <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                
                                    <h2><b>Cenik</b></h2>
                          
                      </span>
                    </div>
                
                    
                
                
                </div>
                                
                <div id="page-zones__main-widgets__5ccf2a7d058b4" data-name="image" class="widget widget--zone-widget js-widget" data-uniqueid="WpRaEs3Nqq7NQ7O" data-parentuniqueid="hHBnxcqj06RgjQH">
                
                    
                    
                                
                    
                    
                                
                
                
                <div class="bk-image  imagewidget  widget__imagewidget  widget-align-left">
                
                        <figure class="figure imagewidget__figure" itemscope="" itemtype="https://schema.org/ImageObject">
                
                                <a href="none" target="none" title="" class="image-link  imagewidget__image-link  js-pswp-image-trigger " itemprop="url">
                
                                        <img class="image  imagewidget__image js-pswp-image" src="//files.strani.domenca.com/a7/80/a780569b-b4cd-4cdb-8d2c-ab9334394e3d.jpg" alt="" data-path="//files.strani.domenca.com/a7/80/a780569b-b4cd-4cdb-8d2c-ab9334394e3d.jpg" title="" data-filename="CENIK (1).jpg" data-filesize="" data-imagesize="960 x 720" width="75%" itemprop="contentURL">
                        </a>
                
                        
                    </figure>
                
                </div>
                
                </div>
                                
                <div id="page-zones__main-widgets__5ccf2a7750b02" data-name="content" class="widget widget--zone-widget js-widget" data-uniqueid="DDdzh3kvjoyOpPc" data-parentuniqueid="hHBnxcqj06RgjQH">
                
                        <div class="bk-content-text  content  widget__content  wysihtml-editor-content" itemscope="" itemtype="https://schema.org/WebPage">
                      <span class="js-text-content content-block" itemprop="mainContentOfPage" itemscope="" itemtype="https://schema.org/WebPageElement">
                
                                    <span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(49, 133, 155);"><b>Cena strojnega čiščenja je odvisna od vrste, velikosti in stanja površine. Za ponudbo prosim pokličite oz. pišite.&nbsp;</b></span></span>
                          
                      </span>
                    </div>
                
                    
                
                
                </div>
                    </section>
</div>