<h2>Pomoč v gospodinjstvu</h2>
<b>Nudimo vam tedensko ali dvotedensko pomoč v gospodinjstvu, ki (lahko) vključuje:</b>
<ul>
  <li>čiščenje kuhinje: fronte, pult, umivalnik, pečica (po potrebi), naprave (kavomat, itd.);</li>
  <li>čiščenje kopalnice: umivalnik, WC, bide, tuš kabina, kad, ostala oprema, radiator;</li>
  <li>čiščenje dnevne sobe in spalnic: brisanje prahu, sesanje in pomivanje tal (celotno stanovanje/hiša);</li>
  <li>pranje in sušenje perila ter likanje;</li>
  <li>po dogovoru tudi čiščenje oken. </li>
</ul>
<b>Čiščenje vedno prilagodimo individualnim željam stranke. </b>

<br><br><hr>


<h2>Generalno čiščenje</h2>
<b>Enkratno generalno čiščenje hiše ali stanovanja (lahko) vključuje:</b>
<ul>
  <li>čiščenje kuhinje: fronte in notranjost kuhinjskih omaric, hladilnik (notranjost in zunanjost), pult, umivalnik, pečica, naprave (kavomat, itd.);</li>
  <li>čiščenje kopalnice: ploščice, umivalnik, WC, bide, tuš kabina, kad, notranjost kopalniškega pohištva, radiator;</li>
  <li>čiščenje dnevne sobe in spalnic: brisanje prahu, fronte in po dogovoru tudi notranjost omar, sesanje in pomivanje tal (celotno stanovanje/hiša);</li>
  <li>čiščenje oken in vrat.</li>
</ul>
<b>Čiščenje vedno prilagodimo individualnim željam stranke. </b>

<br><br><hr>
<h2>Strojno čiščenje</h2>
<b>Nudimo mokro in suho ekstrakcijsko čiščenje:</b>
<ul>
  <li>tepihov</li>
  <li>tapisonov</li>
  <li>oblazinjenega pohištva</li>
</ul>
<b>Nudimo tudi čiščenje s paro, predvsem radiatorjev. </b>

<br><br><hr>

<h2>Čiščenje manjših poslovnih prostorov, apartmajev, jaht, itd.</h2>
<b>Po dogovoru nudimo tudi ročno in strojno čiščenje</b>
<ul>
  <li>manjših poslovnih prostorov</li>
  <li>apartmajev</li>
  <li>jaht</li>
</ul>
<b>Za več informacij in ponudbo prosim pokličite ali pišite. </b>

