
        <app-curousel></app-curousel>
    <div id="page-zones__main-widgets__5c25e9e5da87b" data-name="content" class="widget widget--zone-widget js-widget"
        data-uniqueid="p9rPKZe7xvT9yxw" data-parentuniqueid="XyTL827OqcWPNjO">
        <h2><b>O nas</b></h2>
    </div>
    <div id="page-zones__main-widgets__5c25e9e5bc0c1" data-name="content" class="widget widget--zone-widget js-widget"
        data-uniqueid="oHG1uTCOCAqoQV3" data-parentuniqueid="XyTL827OqcWPNjO">
        <span class="wysiwyg-font-size-small"><span><b>Smo družinsko podjetje, ki že
                    od leta 1992, nudi različne vrste čiščenja. Že od ustanovitve podjetje vodi Milenca Mijatović, ki s
                    svojo izobrazbo sanitarnega tehnika in dolgoletnimi izkušnjami, poskrbi, da je vaš dom vedno
                    očiščen, tako kot ste si vedno želeli.&nbsp;</b></span></span>
                    <span class="wysiwyg-font-size-medium"><span><br><br></span></span>
                    <span class="wysiwyg-font-size-small"><span><b>Glavne prednosti našega podjetja:</b></span></span>
                    <span class="wysiwyg-font-size-medium"><span><br></span></span>
                    <span class="wysiwyg-font-size-small"><span><b>- hitra odzivnost na vaše klice in sporočila;</b></span></span>
                    <span class="wysiwyg-font-size-medium"><span><br></span></span>
                    <span class="wysiwyg-font-size-small"><span><b>- čiščenje popolnoma prilagojeno vašim željam in zahtevam ter sprotno prilagajanje;</b></span></span>
                    <span class="wysiwyg-font-size-medium"><span><br></span></span>
                    <span class="wysiwyg-font-size-small"><span><b>- ena glavna gospodinja ves čas skrbi za čistočo vašega doma ali poslovnega prostora in ga zelo dobro pozna;</b><br></span></span>
                    <span><b>- uporaba ekoloških čistil.&nbsp;</b></span><br>
    </div>