<div class="container">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>
  <div class="flex-container">

    <!-- Page Content -->
    <div class="flex-item flex-profile1">
      <div id="page-zones__template-widgets__companyname-footercompanyname" class="widget  widget--template-widget"
        data-widget-type="companyname" data-uniqueid="page-zones__template-widgets__companyname-footercompanyname">


        <div class="bk-companyname  companyname  widget__companyname" itemscope=""
          itemtype="https://schema.org/Organization">

          <a href="/" class="company-link  companyname__company-link" itemprop="url">
            <span class="company-text  companyname__company-text" itemprop="name">
              UHKA d.o.o.
            </span>
          </a>

        </div>

      </div>

      <div id="page-zones__template-widgets__profile-address" class="widget  widget--template-widget"
        data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-address">

        <div class="bk-profile  profile  widget__profile">


          <div class="companyaddress  profile__companyaddress" itemscope="" itemtype="https://schema.org/LocalBusiness">

            <div class="vcard  companyaddress__vcard">

              <address class="address  companyaddress__address" itemprop="address" itemscope=""
                itemtype="https://schema.org/PostalAddress">

                <p class="address-line  address-line--one  companyaddress__address-line  fn  org" itemprop="name">Sela
                  pri
                  Šumberku 8, 8360 Žužemberk</p>

                <p class="address-line  address-line--country  companyaddress__address-line" itemprop="addressCountry">
                  Slovenija</p>


              </address>

            </div>

          </div>

        </div>

      </div>

    </div>
    <div class="flex-item flex-profile2">

      <div id="page-zones__template-widgets__profile-phone" class="widget  widget--template-widget"
        data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-phone">

        <div class="bk-profile  profile  widget__profile">

          <div class="companyphone  profile__companyphone" itemscope="" itemtype="https://schema.org/Organization">
            <a class="phone-number-link  icon  icon--phone  companyphone__phone-number-link" href="tel:041268175">
              <span class="phone-number  companyphone__phone-number" itemprop="telephone">041268175</span>
            </a>
          </div>

        </div>

      </div>

      <div id="page-zones__template-widgets__profile-email" class="widget  widget--template-widget"
        data-widget-type="profile" data-uniqueid="page-zones__template-widgets__profile-email">

        <div class="bk-profile  profile  widget__profile">


          <div class="emailaddress  profile__emailaddress" itemscope="" itemtype="https://schema.org/Organization">
            <meta itemprop="email" content="info@gospodinjski-servis.si">
            <a class="email  emailaddress__email"
              href="mailto:info@gospodinjski-servis.si">info@gospodinjski-servis.si</a>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>